.basket {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  top: 100px;
  margin-top: 100px;
  margin-bottom: -300px;
  padding: 10px;
  background-color: black;
  border-style: double;
  color: aliceblue;
  max-height: 300px;
  overflow-y: auto;
}

.basket_out {
  margin-left: 100%;
  transition: margin-left 0.3s ease;
}
.basket_in {
  margin-left: 80%;
  transition: margin-left 0.3s ease;
}