.basket {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  top: 200px;
  bottom: 150px;
  margin-left: 75%;
  padding: 10px;
  background-color: black;
  border-style: double;
  color: aliceblue;
}

.basket_out {
  margin-left: 100%;
}
