* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  margin: 5px;
  cursor: pointer;
}

.rule_1440 {
  margin-inline: auto;
  max-width: 1440px;
}

.center_hor {
  display: flex;
  justify-content: center;
}

.center_ver {
  display: flex;
  align-items: center;
}

.theme_colour {
  background-color: rgb(221, 83, 37);
}

.text {
  font-size: 20px;
}
.margin10 {
  margin: 10px;
}

.description {
  font-style: italic;
}

.title {
  font-weight: bold;
}
